<h2>Home</h2>
<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Offers</h5>
        <p class="card-text">Current Offers.</p>
        <a href="#" class="btn btn-primary">Edit Offers</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Events</h5>
        <p class="card-text">Current Events.</p>
        <a href="#" class="btn btn-primary">Edit Events</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">A/B Test Data</h5>
        <p class="card-text">Summary of information.</p>
        <a href="#" class="btn btn-primary">View more information</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Logs</h5>
        <p class="card-text">Summary of Logs.</p>
        <a href="#" class="btn btn-primary">View Logs</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Localisations</h5>
        <p class="card-text">Info on localisations.</p>
        <a href="#" class="btn btn-primary">Do a localisations thing</a>
      </div>
    </div>
  </div>
</div>
</div>
