<h2>User Profile</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Details</h5>
          <p class="card-text">hutchId: {{portalSync.userProfile.hutchId}}</p>
          <p class="card-text">appId: {{portalSync.userProfile.appId}}</p>
          <p class="card-text">flags: {{portalSync.userProfile.flags}}</p>
          etc...<br>
          <a href="#" class="btn btn-primary">Click for more details</a>
        </div>
      </div>
    </div>
  </div>
</div>
